.logoHolder {
  position: fixed;
  top: 30px;
  left: 30px;
  display: flex;
  align-items: center;
  height: 64px;
  color: white;
  padding: 10px 0;
  z-index: 9999;
}

.logoHolder small {
  line-height: 14px;
  margin-left: 10px;
}

.logoHolder img {
  height: 100%;
}

.menuIcon {
  position: fixed;
  top: 30px;
  right: 30px;
  color: white;
  z-index: 9999;
}

.menuIcon:hover {
  cursor: pointer;
}
