.section2 {
  position: relative;
  color: white;
  padding: 100px 0;
}

.section2 .contentHolder {
  position: relative;
  width: 100%;
  display: flex;
  align-items: center;
}

.section2 .contentHolder div {
  width: 50%;
}

.section2 .contentHolder .innerImgHolder {
  display: flex;
  justify-content: flex-end;
}

.section2 .contentHolder .innerImgHolder img {
  width: 50%;
  border-radius: 10px;
}
